// paint classroom

.paintClass {
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
    padding: 15px 0;
  }
  &__text {
    margin-left: 20px;
    color: #353535;
    font-size: 18px;
    font-weight: 600;
  }
  &__point {
    color: white;
    margin-left: auto;
    padding: 5px 17px;
    background: #187bad;
    border-radius: 50px;
    text-align: center;
  }
}
