/* main home */
.home {
  background: url("../images/banner.png") no-repeat top center;
  width: 100%;
  height: 100%;
  background-size: cover;
  // display: flex;
  // justify-content: center;
  // align-items: center;

  &__header {
    width: 95%;
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
    top: 5px;
  }

  &__title-header {
    color: #383838;
    text-transform: uppercase;
  }

  &__noti {
    background: none;
    position: absolute;
    right: 0;
    padding-right: 10px;
    margin-left: auto;
  }

  &__label {
    position: absolute;
    top: 0;
    right: 0;
    background: #ed145b;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 10px;
    border: 1px solid #b9bfc3;
    font-size: 14px;
  }
  &__list {
    // width: 95%;
    margin-top: 110px;
    background: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__link {
    width: 40%;
    height: 120px;
    margin: 10px;
  }

  &__item {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;

    padding: 7px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.25);
  }
  &__image {
    max-width: 40%;
    margin-bottom: 20px;
  }
  &__title {
    color: #5e5e5e;
  }
}
.icon {
  max-width: 20px;
}
