// appointment center

.appointment {
  &__header {
    background: url(/static/media/bg-header.a1c9d5a8.png) no-repeat center
      center;
    width: 100%;
    // height: 56px;
    background-size: cover;
    padding: 0 10px;
  }
  &__toolbar {
    --background: unset;
  }
  &__title-header {
    color: white;
    text-align: center;
  }
  &__list {
    margin-top: 10px;
    padding: 0 10px;
  }
  &__title {
    color: #262626;
    font-size: 20px;
    font-weight: 500;
  }
  &__img {
    background: url("../../images/bg-header.png") no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 0 10px;
  }
  &__item {
    // width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &__sub-item {
    width: 100%;
    overflow: scroll;
    margin: 10px 0;
    border-bottom: 2px solid #cccccc;
  }
  &__reminder {
    font-size: 18px;
    color: #4c4c4c;
  }
  &__date {
    margin-left: 10px;
    color: #929292;
    font-size: 16px;
  }
  &__times {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
  }
  &__list-image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    // overflow: scroll;
    margin-bottom: 10px;
  }
  &__item-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    // margin: 0 5px;
    margin-right: 10px;
  }
  &__name {
    padding-top: 10px;
    color: #4c4c4c;
    font-size: 15px;
  }
  &__button {
    --background: unset;
    --box-shadow: none;
    --border: none;
    height: 50px;
    width: 50px;
  }
}
.modal-wrapper {
  border-radius: 20px !important;
  overflow: visible !important;
  & .ion-page {
    overflow: visible !important;
  }
}

.modal {
  width: 100%;
  padding: 85px 30px;
  // width: 85%;
  // border-radius: 20px;
  // margin: 50px auto;
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
  }
  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
    padding: 20px 0;
  }
  &__content {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  &__text {
    color: #353535;
    font-size: 16px;
    font-weight: 600;
  }
  &__ref {
    color: #187bad;
    font-size: 14px;
  }
  &__link {
    color: #187bad;
    font-size: 12px;
  }
  &__close {
    position: absolute;
    top: -20px;
    right: -20px;
  }
}
.btn-modal {
  font-size: 13px;
  text-transform: initial;
  margin-left: auto;
  &--cancel {
    --background: #6c6c6c;
  }
  &--desire {
    --background: #187bad;
  }
  &--close {
    --background: #187bad;
    width: 40px;
    height: 40px;
  }
}
.img {
  max-width: 50px;
  width: 100%;
  display: block;
  border-radius: 50%;
}
.icon--close {
  max-width: 20px;
}

.yesno {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__item {
    width: 45%;
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item:first-child {
    --background: #37c033;
  }
  &__item:last-child {
    --background: #d73434;
  }
  &__input {
    opacity: 0;
    // position: absolute;
  }
  &__text {
    position: absolute;
    margin: 0 auto;
    left: 40%;
  }
}
.yesno-group {
  width: 100%;
}
